@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: #181717;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* font-family: 'Poppins', sans-serif; */
	font-family: 'Montserrat', sans-serif;

	height: 100vh;
	margin: -20px 0 50px;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ffffffa6;
    
    border-radius: 40px;
}
::-webkit-scrollbar-track {
    display: none;
}
::-webkit-scrollbar-track-piece{
    background: transparent;
}




input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
	transition: 0.3s;
}
button:hover{
	opacity: 0.7;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

/* ------------------------------------------ */




#root:not(.withChat) {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
#root.withChat {
    display: grid;
    grid-template-columns: 75% 25%;
    height: 100%;
    margin-top: 20px;
}

/* video section */

.container {
    width: calc(100% - 5px);
    height: 100%;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.participant {
    margin-bottom: 10px;
    margin-right: 5px;
    display: grid;
    grid-template-rows: auto 20px;
}
.participant div {
    text-align: center;
}
.participant div video {
    background-color: #eee;
    border: 1px solid black;
}
.participant div video:not(.trackZoomed) {
    width: 240px;
    height: 180px;
}
.participant .label {
    background-color: #ddd;
    padding: 2px;
}
.participantZoomed {
    width: 100%;
    height: calc(100% - 5px);
    grid-template-rows: auto 30px;
}
.participantHidden {
    display: none;
}
.trackZoomed {
    width: 100%;
    height: 100%;
}
.participantZoomed div video:not(.trackZoomed) {
    display: none;
}
.participantHidden div video {
    display: none;
}
.participantHidden .label {
    display: none;
}
.participantZoomed .label {
    margin-top: 8px;
}

/* chat section */

#root.withChat #chat {
    width: calc(100% - 10px);
    display: grid;
    grid-template-rows: auto 30px;
    border-left: 1px solid black;
    padding: 5px;
}
#root:not(withChat) #chat {
    display: none;
}
#chat #chat-scroll {
    overflow: auto;
}
#chat #chat-content {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1em;
    max-height: 1px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#search-bar input {
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    border-radius: 9px;
    outline: none;
    width: 77%;
}

#friends-list {
    background: white;
    padding: 23px;
    border-radius: 19px;
    width: fit-content;
    min-height: 96%;
    position: fixed;
    top: 10px;
    left: 10px;
}

.user{
    font-size: 40px;
    background-color: #F7F7F7;
    padding:10px 20px;
    border-radius:20px;
    cursor:pointer;
    font-family: 'Poppins', sans-serif;
    width: 340px;
}
.user .pfp{
    height: 39px
}


.user span {
    padding-left: 8px;
    font-size: 29px;
    position: absolute;
    margin-top: 4px;


}


#search-res {
    width: fit-content;
}

.userBtns {
        position: relative !important;
    left: 64%;
    background: #FF4B2B;
    color: white;
    padding: 10px;
    padding-left: 10px !important;
    border-radius: 10px;
    font-size: 22px !important ;
    transition: 0.3s;
    
}
.userBtns:hover {

    opacity: 0.7;
}


#reject-btn, #accept-btn {
    left: 50% !important;
    top:-5px;
    margin-right: 10px;
}

#call-btn, #rm-friend-btn {
    left: 50% !important;
    top:-5px;
    margin-right: 10px;
}


#friends-div {
    /* width: fit-content; THIS MIGHT MAKE A BUG IM NOT SURE*/
}
#friends-div .user{
    width: 340px !important;
}


.fa-bell {
    border-radius: 13px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    transition: 0.3s;
    margin-left:13px;
    box-shadow: -1px 0px 8px 0px #00000063;
    
}
.fa-bell:hover {
    opacity:0.7;
}

#notis h3 {
    text-align: center;
    /* text-shadow: -1px 1px 18px #0000008c; */
}